@charset "utf-8";

@font-face  {
  font-family: 'Caviar-Dreams-Bold';
  src:  url('Caviar-Dreams-Bold.ttf.woff') format('woff'),
  url('Caviar-Dreams-Bold.ttf.svg#Caviar-Dreams-Bold') format('svg'),
  url('Caviar-Dreams-Bold.ttf.eot'),
  url('Caviar-Dreams-Bold.eot?#iefix') format('embedded-opentype'); 
}

*  {
  margin: 0;
  padding: 0;
	/*font-family: "Italianno";*/
	/*font-family: "Quicksand";*/
	/*font-family: "Caviar Dreams";*/
	font-family: 'Caviar-Dreams-Bold';
	/*font-family: "ヒラギノ角ゴ";*/
	/*font-family: "Osaka";*/
	text-align: center;
	text-decoration: none;
	-webkit-appearance: none;
	appearance: none;
}

html  {height: 100%;}
body  {height: 100%;background-color: #aaa;}
main  {height: 100%;transition: 2s;}

#inName {
	position: relative;
	top: 40%;
	left: 0px;
	right: 0px;
	width: 595px;
	margin: auto;
}

.namebox {
	text-align: center;
	float: left;
	transition: 2s;
	width: 35px;
	font-size: 40px;
}

.content_box {
	width: 10%;
	background-color: #aaa;
	border: solid 3px #ddd;
	height: 100%;
	float: left;
	transition: 0.7s;
	overflow: hidden;
	position: relative;
	border: solid 1px #000;
	box-sizing: border-box;
	opacity: 0;
	display: none;
}

.content_box: first-child {
	width: 100%;
	opacity: 1;
	display: block;
}

.colomn_content {
	height: 100%;
	width: 100%;
	display: table;
}

.colomn_main {
	width: 750px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	z-index: 1;
	display: table;
	margin-top: 150px;
}

.colomn_content h1 {
	text-align: center;
	height: 10%;
	padding-top: 30px;
	font-size: 24px;
	width: 100%;
}

.colomn_content h1: first-child {
	opacity: 0;
	transition: 2s;
}

/*home*/

#home,#profi,#skill,#works {
	cursor: pointer;
}

#home {
	margin-top: 15%;
}

#home table {
	padding-top: 30px;
	width: 300px;
	margin: auto;
}

#home table td {
	padding-top: 5px;
}

.update {
	opacity: 0;
	transition: 2s;
}

/*skill*/

#skill {
	width: 750px;
}

.chartbox {
	position: relative;
	float: left;
	top: -10px;
}

.chart_detail {
	width: 80%;
	height: 300px;
	/*display: none;*/
	background-color: #f00;
}

.chartbox p {
	width: 150px;
	font-size: 15px;
}

.chartbox svg {
  transform: rotate(-90deg);
	width: 120px;
	height: 120px;
}

.chartbox circle {
  fill: transparent;
  stroke-width: 5;
  animation-iteration-count: 1;
	animation-duration: 2s;
  animation-fill-mode: forwards;
}

.backsvg {
  position: absolute;
  z-index: 0;
  left: 15px;
}

.chartbox svg.backsvg circle {
	animation-iteration-count: 1;
	animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: circleback;
  stroke-width: 5;
  stroke: #fff;
}

@keyframes circleback {
  0%  { opacity: 0; }
  100%  { opacity: 0.5; }
}

@keyframes circle0 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 195 250; }
}

@keyframes circle1 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 195 250; }
}

@keyframes circle2 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 210 250; }
}

@keyframes circle3 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 60 250; }
}

@keyframes circle4 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 145 250; }
}

.percent {
	position: absolute;
	top: 20px;
	left: 0;
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 20px;
	line-height: 150px;
}

.percent small {
	font-size: 10px;
}

/*profile*/

.profile {
	margin: auto;
	margin-bottom: 50px;
}

.profile img {
	width: 120px;
	vertical-align: bottom;
}

.profile p {
	text-align: center;
}

/*works*/


/*contact*/

#contact {
	margin: auto;
	position: relative;
	overflow: hidden;
}

#contact label {
	margin-top: 30px;
}

.error {
	width: 40%;
	margin: auto;
	margin-bottom: 30px;
	color: #f00;
}

.hidden_text {
	width: 100%;
	opacity: 0;
	transition: 1s;
	text-align: center;
}

.text {
	clear: both;
	width: 260px;
	margin: auto;
	font-size: 22px;
	margin-bottom: 15px;
}

.text input {
	width: 180px;
	float: right;
	appearance: none;
	border: none;
	border-bottom: solid 1px #000;
	background-color: #aaa;
	font-size: 22px;
	ime-mode: disabled;
}

textarea {
  resize: none;
  text-align: left;
  width: 400px;
  height: 150px;
  margin: auto;
  display: block;
  background-color: #aaa;
  border: none;
  border: solid 1px #000;
  ime-mode: disabled;
}

#sendmail {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	clear: both;
	width: 250px;
	padding: 5px 0px;
	margin: auto;
	margin: 30px 0px 50px 0px;
	border-radius: 5px;
	transition: 0.1s;
	background-color: #aaa;
	border: solid 1px #000;
	transition: 0.2s;
	cursor: pointer;
}

#sendmail: active {
	background-color: #000;
	color: #aaa;
}

@media (min-width: 768px) and (max-width: 991px) {

	#inName {
		position: relative;
		top: 40%;
		left: 0px;
		right: 0px;
		width: 500px;
		margin: auto;
	}
	 
	.namebox {
		text-align: center;
		float: left;
		transition: 2s;
		width: 25px;
		font-size: 25px;
	}
}