
/***************************************************
  back svg chart
***************************************************/
@keyframes circleback {
  0%  { opacity: 0; }
  100%  { opacity: 0.5; }
}


/***************************************************
  for default charts
***************************************************/
@keyframes circle0 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 195 250; }
}

@keyframes circle1 {
  0%  { stroke-dasharray: 0 377;}
  100%  { stroke-dasharray: 195 250; }
}

@keyframes circle2 {
  0%  { stroke-dasharray: 0 377;}
  100%  { stroke-dasharray: 195 250; }
}

@keyframes circle3 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 130 250; }
}

@keyframes circle4 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 65 250; }
}

/***************************************************
  html details
***************************************************/

@keyframes circle5 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 210 250; }
}

@keyframes circle6 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 65 250; }
}

@keyframes circle7 {
  0%  { stroke-dasharray: 0 377; }
  100%  { stroke-dasharray: 65 250; }
}

/***************************************************
  css details
***************************************************/


/***************************************************
  js details
***************************************************/

/***************************************************
  php details
***************************************************/

/***************************************************
  ruby details
***************************************************/

