//**********************************************************************
// Variables
//**********************************************************************

/*************** screen ***************/
$smallScreen: "only screen and (max-width: 750px)"; // 768 SmartPhone
$middleScreen: "only screen and (min-width: 751px) and (max-width: 959px)"; // Tablet
$largeScreen: "only screen and (min-width: 960px)"; // PC
$landscapeScreen: "screen and (orientation: landscape)";
$portraitScreen: "screen and (orientation: portrait)";

/*************** path ***************/
$image-path: "../images/";