@charset "utf-8";

@import "chart-animation","reset";

// @font-face {
//   font-family: 'Caviar Dreams';
//   src: url('Caviar Dreams.eot');
//   src: url('Caviar Dreams.ttf') format('truetype');  
// }

*  {
  /*font-family: "Italianno";*/
  /*font-family: "Quicksand";*/
  font-family: "Caviar Dreams";
  /*font-family: "ヒラギノ角ゴ";*/
  /*font-family: "Osaka";*/
  text-decoration: none;
}

html{height: 100%;}
body{height: 100%;background-color: #aaa;}

main {
  height: 100%;
  
  transition: 2s;
}

p{text-align: center;}

/***************************************************
  in name
***************************************************/

.name-row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
}
#inName {
  width: 650px;
  .namebox {
    text-align: center;
    float: left;
    transition: 2s;
    width: 35px;
    font-size: 40px;
  }
}

.content-row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
}

.first-column {
  // display: none;
  // right: 0;
  h2 {
    width: 40px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
  }
}