@charset "utf-8";

@import "chart-animation","reset";

// @font-face {
//   font-family: 'Caviar Dreams';
//   src: url('Caviar Dreams.eot');
//   src: url('Caviar Dreams.ttf') format('truetype'); 
// }

*  {
  /*font-family: "Italianno";*/
  /*font-family: "Quicksand";*/
  font-family: "Caviar Dreams";
  // font-family: "COLDPLAY";
  /*font-family: "ヒラギノ角ゴ";*/
  /*font-family: "Osaka";*/
  text-decoration: none;
}

$smallScreen: "only screen and (max-width: 750px)";

//  common style
//******************************************

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #aaa;
}

main {
  height: 100%;transition: 2s;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  line-height: 1;
  color: #333;
  display: block;
}

button,a,input[type="submit"] {
  transition: .3s;
  cursor: pointer;
}

#home,#skill,#profile,#works,#contact {
  height: 100%;
  @media #{$smallScreen} {
    width: 100%;
  }
}

//  header
//******************************************

header {
  height: 100%;
  width: 10%;
  position: fixed;
  background-color: #333;
  @media #{$smallScreen} {
    width: 15%;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    @media #{$smallScreen} {
      font-size: 10px;
    }
  }
  nav ul {
    li {
      width: 100%;
      a {
        background-color: #ddd;
        color: #333;
        padding: 32px 0;
        border-top: 0.5px solid #333;
        font-size: 24px;
        @media #{$smallScreen} {
          padding: 24px 0;
        }
      } 
    }
  }
  .icon {
    width: 100%;
    // position: absolute;
    margin-top: 180px;
    bottom: 32px;
    left: 2.5%;
    @media #{$smallScreen} {
      width: 100%;
      left: 20%;
      bottom: 16px;
    }
    li {
      width: 30px;
      height: 30px;
      display: inline-block;
      @media #{$smallScreen} {
        display: block;
        width: 35px;
        height: 35px;
        margin-top: 8px;
      }
      a {
        margin: 0 auto;
        &:hover {
          opacity: 0.5;
        }
        i {
          display: block;
          width: 100%;
          text-align: center;
          color: #fff;
          line-height: 1.8;
          @media #{$smallScreen} {
            font-size: 20px;
          }
        }
      }
      &:first-child {
        background-color: #fafafa;
        a i {
          color: #333;
        }
      }
      &:nth-child(2) {
        background-color: #1DA1F3;
      }
      &:nth-child(3) {
        background-color: #3B5998;
      }
      &:nth-child(4) {
        background-color: #0B1C4A;
      }
    }
  }
}

/***************************************************
  in name
***************************************************/

#inName {
  position: relative;
  top: 300px;
  left: 0px;
  right: 0px;
  width: 680px;
  margin: auto;
  @media #{$smallScreen} {
    top: 45%;
    width: 100%;
  }
  .namebox {
    text-align: center;
    float: left;
    transition: 2s;
    width: 40px;
    font-size: 50px;
    @media #{$smallScreen} {
      width: 18px;
      font-size: 18px;
    }
  }
}

/***************************************************
  content box
***************************************************/

.content-box {
  width: 90%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-right: solid 1px #000;
  box-sizing: border-box;
  float: right;
  @media #{$smallScreen} {
    width: 85%;
  }
  .colomn-content {
    height: 100%;
    width: 100%;
    display: table;
    .colomn-main {
      display: table;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 1;
      @media #{$smallScreen} {
        display: block;
      }
    }
    h1 {
      text-align: center;
      height: 10%;
      padding-top: 30px;
      font-size: 24px;
      display: none;
    }
  }
  &:first-child {
    background-color: #f0f0f0;
  }
  &:nth-child(2) {
    background-color: #fff;
  }
  &:nth-child(3) {
    background-color: #ddd;
  }
}

/***************************************************
  home
***************************************************/

#home {
  height: 100%;
  i {
    display: block;
    font-size: 60px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

/***************************************************
  profile
***************************************************/

#profile {
  margin: auto;
  .detail-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 8px 0 0 8px;
    background-color: #0B1C4A;
    text-align: center;
    line-height: 2;
    color: #fff;
    font-size: 24px;
    outline: 0;
    border-radius: 4px;
    transition: .3s;
    border: solid 2px #fff;
    &:hover {
      border: solid 2px #0B1C4A;
      background-color: #fff;
      color: #0B1C4A;
    }
    p {
      margin-top: 8px;
      display: none;
    }
    i {
      width: 100%;
      height: 50px;
      line-height: 2;
    }
    .active {
      display: block;
      background-color: #fff;
      color: #0B1C4A;
    }
  }
}

#switch {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  &:after {
    display: table;
    clear: both;
    content: '';
  }
  .profile-tab {
    width: 25%;
    height: 100%;
    float: left;
    li {
      height: 20%;
      a {
        height: 100%;
        text-align: center;
        display: block;
        text-decoration: none;
        background-color: #ff5b6b;
        color: #ffffff;
        line-height: 10;
        &:hover {
          background-color: #ff7384;
        }
      }
      &.on a {
        background-color: #f4f4f4;
        color: #ff5b6b;
      }
    }
  }
  #content {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 100%;
    float: right;
    div {
      position: absolute;
      display: none;
      width: 100%;
      line-height: 272px;
      color: #ff5b6b;
      text-align: center;
    }
  }
}

/***************************************************
  skill
***************************************************/

#skill {
  width: 100%;
  .skill-title {
    padding: 32px 0;
    font-size: 22px;
  }
  .chartbox {
    text-align: center;
    position: relative;
    float: left;
    top: -10px;
    width: 20%;
    p {
      width: 100%;
      font-size: 14px;
    }
    svg {
      transform: rotate(-90deg);
      width: 120px;
      height: 120px;
    }
    circle {
      fill: transparent;
      text-align: center;
      stroke-width: 20;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    .backsvg {
      position: absolute;
      z-index: 0;
    }
    .percent {
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 150px;
      text-align: center;
      font-size: 20px;
      line-height: 120px;
      small {
        font-size: 10px;
      }
    }
  }
  .skill-detail {
    width: 100%;
    .skill-detail {
      display: none;
      width: 100%;
      &:first-child {
        display: block;
      }
    }
  }
}

.chartbox svg.backsvg circle {
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: circleback;
  stroke-width: 5;
  stroke: #fff;
}

/***************************************************
  works
***************************************************/

#works {
  height: 100%;
  .card {
    width: 25%;
    height: 25%;
    margin: -3px;
    display: inline-block;
    &:nth-child(even) {
      background-color: #fafafa;
    }
    &:nth-child(3n+1) {
      background-color: red;
    }
  }
  p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 25;
  }
}

/***************************************************
  contact
***************************************************/

#contact {
  margin: 48px auto 0;
  width: 640px;
  position: relative;
  @media #{$smallScreen} {
    width: 85%;
  }
  .input-column {
    margin-bottom: 24px;
    label {
      width: 100%;
      padding: 4px;
    }
    #name {
      width: 100%;
      padding: 8px;
      appearance: none;
      border: none;
      border-bottom: solid 1px #000;
      background-color: #aaa;
      font-size: 22px;
      ime-mode: disabled;
      box-sizing: border-box;
    }
    #message {
      resize: none;
      text-align: left;
      width: 100%;
      height: 200px;
      margin: auto;
      display: block;
      background-color: #aaa;
      border: solid 1px #000;
      padding: 8px;
      margin-top: 8px;
      font-size: 16px;
      ime-mode: disabled;
      box-sizing: border-box;
    }
  }
}

#sendmail {
  display: block;
  appearance: none;
  clear: both;
  width: 300px;
  text-align: center;
  padding: 8px 0;
  margin: 32px 0 48px 0;
  border-radius: 4px;
  background-color: #333;
  cursor: pointer;
  color: #fff;
  border: none;
  &:active,&:hover {
    background-color: #ddd;
    color: #aaa;
  }
}
