@charset "utf-8";

@import "chart-animation","reset";


$smallScreen: "only screen and (max-width: 750px)";

$image-path: "../images/";

// @font-face {
//   font-family: 'Caviar Dreams';
//   src: url('Caviar Dreams.eot');
//   src: url('Caviar Dreams.ttf') format('truetype');  
// }

*  {
  /*font-family: "Italianno";*/
  /*font-family: "Quicksand";*/
  font-family: "Caviar Dreams";
  /*font-family: "ヒラギノ角ゴ";*/
  /*font-family: "Osaka";*/
  text-align: center;
  text-decoration: none;
}

  html  {height: 100%;}
  body  {height: 100%;background-color: #aaa;}
  main  {height: 100%;transition: 2s;}

/***************************************************
  in name
***************************************************/

#inName {
  position: relative;
  top: 40%;
  left: 0px;
  right: 0px;
  width: 595px;
  margin: auto;
  .namebox {
    text-align: center;
    float: left;
    transition: 2s;
    width: 35px;
    font-size: 40px;
  }
}

/***************************************************
  content box
***************************************************/

.content-box {
  width: 10%;
  background-color: #aaa;
  height: 100%;
  float: left;
  transition: 0.7s;
  overflow: hidden;
  position: relative;
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  box-sizing: border-box;
  opacity: 0;
  display: none;
  &:first-child {
    width: 100%;
    opacity: 1;
    display: block;
  }
  .colomn-content {
    height: 100%;
    width: 100%;
    display: table;
    .colomn-main {
      width: 750px;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
      z-index: 1;
      display: table;
      margin-top: 150px;
    }
    h1 {
      text-align: center;
      height: 10%;
      padding-top: 30px;
      font-size: 24px;
      width: 100%;
      &:first-child {
        opacity: 0;
        transition: 2s;
      }
    }
  }
}

/*.colomn-img {
  margin: auto;
  display: table;
  z-index: 2;
  font-size: 14px;
  transition: 0.3s;
  display: table-cell;
  vertical-align: middle;
  color: #FFD700;
  font-size: 30px;
  height: 100%;
  opacity: 0;
}*/

/***************************************************
  home
***************************************************/

#home {
  margin-top: 15%;
  table {
    padding-top: 30px;
    width: 300px;
    margin: auto;
    opacity: 0;
    transition: 2s;
    table td {
      padding-top: 5px;
    }
  }
}

/***************************************************
  skill
***************************************************/

#skill{
  width: 100%;
  .skill-title {
    margin: 8px 0 32px 0;
    font-size: 22px;
  }
  .chartbox {
    position: relative;
    float: left;
    top: -10px;
    p {
      width: 150px;
      font-size: 15px;
    }
    svg {
      transform: rotate(-90deg);
      width: 120px;
      height: 120px;
    }
    circle {
      fill: transparent;
      stroke-width: 5;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      /*stroke: #F7464A;*/
    }
    .backsvg {
      position: absolute;
      z-index: 0;
      left: 15px;
    }
    .percent {
      position: absolute;
      top: 20px;
      left: 0;
      width: 150px;
      height: 150px;
      text-align: center;
      font-size: 20px;
      line-height: 120px;
      small {
        font-size: 10px;
      }
    }
  }
  .skill-detail {
    width: 100%;
    .skill-detail {
      display: none;
      width: 100%;
      &:first-child {
        display: block;
      }
    }
  }
}

.chartbox svg.backsvg circle {
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: circleback;
  /*stroke: #eee !important;*/
  stroke-width: 5;
  stroke: #fff;
}

/***************************************************
  profile
***************************************************/

#profile {
  margin: auto;
  margin-bottom: 50px;
  p {
    text-align: center;
    font-size: 30px;
  }
}

/***************************************************
  works
***************************************************/

#works {
  padding-top: 30px;
  margin: auto;
  .project {
    height: 220px;
    width: auto;
    display: inline;
    position: relative;
    img {
      height: 220px;
      overflow: hidden;
      position: relative;
      vertical-align: bottom;
    }
  }
}

/***************************************************
  contact
***************************************************/

#contact {
  margin: auto;
  position: relative;
  overflow: hidden;
  label {
    margin-top: 30px;
  }
}

.error {
  width: 40%;
  margin: auto;
  margin-bottom: 30px;
  color: #f00;
}

.hidden-text {
  width: 100%;
  opacity: 0;
  transition: 1s;
  text-align: center;
}

.text {
  clear: both;
  width: 260px;
  margin: auto;
  font-size: 22px;
  margin-bottom: 15px;
}

.text input {
  width: 180px;
  float: right;
  appearance: none;
  border: none;
  border-bottom: solid 1px #000;
  background-color: #aaa;
  font-size: 22px;
  ime-mode: disabled;
}

textarea {
  resize: none;
  text-align: left;
  width: 400px;
  height: 150px;
  margin: auto;
  display: block;
  background-color: #aaa;
  border: none;
  border: solid 1px #000;
  padding: 8px;
  font-size: 16px;
  ime-mode: disabled;
}

#sendmail {
  appearance: none;
  border: none;
  clear: both;
  width: 250px;
  padding: 5px 0px;
  margin: auto;
  margin: 30px 0px 50px 0px;
  border-radius: 5px;
  transition: 0.1s;
  background-color: #aaa;
  border: solid 1px #000;
  transition: 0.2s;
  cursor: pointer;
  &:active {
    background-color: #000;
    color: #aaa;
  }
}